/* HTML5 Boilerplate
 * ==|== normalize.css ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

table button, table input {
  *overflow: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  width: 1024px;
  height: 768px;
  background: #F0F0F0;
}

.purple {
  background: #e13d96;
}

.grey {
  background: #565656;
}

.info-box {
  position: absolute;
  top: -100%;
  left: -100%;
  border-radius: 4px;
  padding: 0.5em;
  color: #FFF;
  font-family: Arial;
  font-weight: 100;
}
.info-box:nth-child(1) {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: TL;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1s;
  -moz-animation-duration: 5s;
  -moz-animation-name: TL;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 5s;
  -o-animation-name: TL;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 5s;
  animation-name: TL;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
.info-box:nth-child(2) {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: TR;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1s;
  -moz-animation-duration: 5s;
  -moz-animation-name: TR;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 5s;
  -o-animation-name: TR;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 5s;
  animation-name: TR;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
.info-box:nth-child(3) {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: BL;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1s;
  -moz-animation-duration: 5s;
  -moz-animation-name: BL;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 5s;
  -o-animation-name: BL;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 5s;
  animation-name: BL;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
.info-box:nth-child(4) {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: BR;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1s;
  -moz-animation-duration: 5s;
  -moz-animation-name: BR;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 5s;
  -o-animation-name: BR;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 5s;
  animation-name: BR;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
.info-box:nth-child(5) {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: L;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1s;
  -moz-animation-duration: 5s;
  -moz-animation-name: L;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 5s;
  -o-animation-name: L;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 5s;
  animation-name: L;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
.info-box:nth-child(6) {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: R;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1s;
  -moz-animation-duration: 5s;
  -moz-animation-name: R;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 5s;
  -o-animation-name: R;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 5s;
  animation-name: R;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

@-webkit-keyframes TL {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 5%;
    top: 5%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }
}

@-moz-keyframes TL {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 5%;
    top: 5%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }
}

@-o-keyframes TL {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 5%;
    top: 5%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }
}

@keyframes TL {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 5%;
    top: 5%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }
}

@-webkit-keyframes TR {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 80%;
    top: 5%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
  }
}

@-moz-keyframes TR {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 80%;
    top: 5%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
  }
}

@-o-keyframes TR {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 80%;
    top: 5%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
  }
}

@keyframes TR {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 80%;
    top: 5%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
  }
}

@-webkit-keyframes BL {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 55%;
    top: 90%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
  }
}

@-moz-keyframes BL {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 55%;
    top: 90%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
  }
}

@-o-keyframes BL {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 55%;
    top: 90%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
  }
}

@keyframes BL {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 55%;
    top: 90%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
  }
}

@-webkit-keyframes BR {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 85%;
    top: 90%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }
}

@-moz-keyframes BR {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 85%;
    top: 90%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }
}

@-o-keyframes BR {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 85%;
    top: 90%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }
}

@keyframes BR {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 85%;
    top: 90%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }
}

@-webkit-keyframes L {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 45%;
    top: 46%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@-moz-keyframes L {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 45%;
    top: 46%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@-o-keyframes L {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 45%;
    top: 46%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes L {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 45%;
    top: 46%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@-webkit-keyframes R {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 25%;
    top: 46%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@-moz-keyframes R {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 25%;
    top: 46%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@-o-keyframes R {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 25%;
    top: 46%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes R {
  0% {
    left: 46%;
    top: 46%;
    -webkit-transform: scale3d(0.5, 0.5, 0.25);
    -moz-transform: scale3d(0.5, 0.5, 0.25);
    -ms-transform: scale3d(0.5, 0.5, 0.25);
    -o-transform: scale3d(0.5, 0.5, 0.25);
    transform: scale3d(0.5, 0.5, 0.25);
  }

  100% {
    left: 25%;
    top: 46%;
    -webkit-transform: scale3d(1.5, 1.5, 1.25);
    -moz-transform: scale3d(1.5, 1.5, 1.25);
    -ms-transform: scale3d(1.5, 1.5, 1.25);
    -o-transform: scale3d(1.5, 1.5, 1.25);
    transform: scale3d(1.5, 1.5, 1.25);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
